*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
#board{
  border: 10px solid #424242;
  width: 500px;
  height: 500px;
  box-shadow: 0 0 40px grey;
}
.row{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.box{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box_1:nth-of-type(even),
.box_3:nth-of-type(even),
.box_5:nth-of-type(even),
.box_7:nth-of-type(even) {
  background-color: #9c9c9c;
}
.box_2:nth-of-type(odd),
.box_4:nth-of-type(odd),
.box_6:nth-of-type(odd),
.box_8:nth-of-type(odd) {
  background-color: #9c9c9c;

}

.figure{
  font-size: 40px;
}